@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(./pictures/WaterBackground.jpg);
}

.main-website {
    display: flex;
    border: solid black;
    flex-direction: row;
}

.picture-area {
    width: 33.33%;
    width: calc(100% / 3);
    height: 100vh;
}

.content-area {
    width: 66.67%;
    width: calc(100% / 1.5);
    height: 100vh;
    background-color: #faebd7;
    /* opacity: 0.5; */
}

.content-header {
    background-color: #ffe5c4;
    height: 15vh;
}

.content-header > p {
    padding: 10px;
    display: block;
}